.graph1{
    padding: 5px;
    width:79.5%;
	display:inline-block;
	margin:auto;
	height:79.5%;
	background-color: white;
	
}
.graph2{
    padding: 5px;
    width:39.5%;
	display:inline-block;
	margin:auto;
	height:39.5%;
	background-color: white;
}
.graph3{
    padding: 5px;
    width:39.5%;
	display:inline-block;
	margin:auto;
	height:39.5%;
	background-color: white;
}
.graph4{
    padding: 5px;
    width:39.5%;
	display:inline-block;
	margin:auto;
	height:39.5%;
	background-color: white;
}